.popover-content,
.popover-anchor {
  border: 1px solid #19b5f6;
  padding: 0.5rem;
}

.popover-anchor {
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.popover-anchor:hover {
  background-color: #07304a;
}
