[popover] {
  opacity: 0;
  transition: opacity 0.3s, overlay 0.3s, display 0.3s;
  transition-behavior: allow-discrete;
}

[popover]:popover-open {
  opacity: 1;
}

/* Needs to be after the previous [popover]:popover-open rule
to take effect, as the specificity is the same */
@starting-style {
  [popover]:popover-open {
    opacity: 0;
  }
}
