.radio-group-root {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radrio-group-trigger {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.radio-group-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ccc;
}
