/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply max-w-screen-2xl mx-auto my-20 font-sans px-6;
}

/* font syntax highlighting */
@font-face {
  font-family: "Monaspace";
  src: url("./assets/fonts/syntax-highlight.woff2") format("woff2");
}

@font-palette-values --kung-fury {
  font-family: "Monaspace";
  override-colors: 
    0 theme('colors.qwik.neutral.400') /* curlies and tags */,
    1 theme('colors.qwik.neutral.300') /* punctuation */,
    2 theme('colors.qwik.blue.300') /* function */,
    3 theme('colors.qwik.neutral.200') /* operators */,
    4 theme('colors.qwik.neutral.300') /* parentheses */,
    5 theme('colors.qwik.blue.100') /* property name */,
    6 theme('colors.qwik.neutral.200') /* misc syntax */,
    7 theme('colors.qwik.purple.200') /* numbers */,
    8 theme('colors.qwik.neutral.300') /* angle brackets */,
    9 theme('colors.qwik.purple.300') /* keywords */,
    10 theme('colors.qwik.blue.200') /* strings */,
    11 theme('colors.qwik.neutral.400') /* comments */,
    12 theme('colors.qwik.purple.100') /* decorators */,
    13 theme('colors.qwik.blue.400') /* special characters */,
    14 theme('colors.qwik.neutral.100') /* doc strings */,
    15 theme('colors.qwik.blue.300') /* class names */;
}

pre > code {
  font-family: "Monaspace", monospace;
  font-palette: --kung-fury;
  line-height: 1.6;
}

pre {
  min-width: 0;
  overflow-x: auto;
  padding: 2ch;
}

body {
  @apply bg-[#1c1e1f] text-qwik-blue-100;
  font-family: Seravek, Avenir, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  scrollbar-gutter: stable;
}
