@layer qwik-ui, popover-polyfill, qds, theme, base, components, utilities;

@import "tailwindcss";

body {
  @apply max-w-screen-2xl mx-auto my-20 font-sans px-6;
}

/* font syntax highlighting */
@font-face {
  font-family: "Monaspace";
  src: url("./assets/fonts/syntax-highlight.woff2") format("woff2");
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Yusei Magic";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/yuseiMagic/yusei-magic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: "Adjusted Tahoma Fallback";
  src: local(Tahoma);
  size-adjust: 104%;
  ascent-override: 95%;
  descent-override: normal;
  line-gap-override: 30%;
}

@font-face {
  font-family: "Adjusted Trebuchet MS Fallback";
  src: local(Trebuchet MS);
  size-adjust: 104%;
  ascent-override: normal;
  descent-override: 32%;
  line-gap-override: 0%;
}

@font-palette-values --kung-fury {
  font-family: "Monaspace";
  override-colors: 0 #b8c1cc /* curlies and tags */, 1 #a2bebe /* punctuation */,
    2 #7ad6ff /* function */, 3 #c8d9d9 /* operators */,
    4 #a2bebe /* parentheses */, 5 #dff3ff /* property name */,
    6 #b8c1cc /* misc syntax */, 7 #e5d7fd /* numbers */,
    8 #b9e7fe /* angle brackets */, 9 #d1b8fa /* keywords */,
    10 #b9e7fe /* strings */, 11 #3b4c4f /* comments */,
    12 #f1e9fe /* decorators */, 13 #34c2fc /* special characters */,
    14 #e2ebeb /* doc strings */, 15 #7ad6ff /* class names */;
}

pre > code {
  font-family: "Monaspace", monospace;
  font-palette: --kung-fury;
  line-height: 1.6;
}

:not(pre) > code {
  background-color: var(--color-neutral-primary);
  padding: 0.125rem 0.375rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-family: monospace;
  color: white;
  font-family: "Yusei Magic", "Adjusted Tahoma Fallback" !important;
}

pre {
  min-width: 0;
  overflow-x: auto;
  padding: 2ch;
}

body {
  @apply bg-[#030405] text-white;
  font-family: "Yusei Magic", "Adjusted Tahoma Fallback" !important;
}

blockquote a {
  padding-inline: 4px;
}

@theme {
  --color-neutral-background: #060708;
  --color-neutral-foreground: #b8c1cc;
  --color-neutral-accent: #0f1317;
  --color-neutral-primary: #14191f;
  --color-neutral-secondary: #060708;
  --color-neutral-interactive: #303d49;

  --color-qwik-purple-50: #f9f6fe;
  --color-qwik-purple-100: #f1e9fe;
  --color-qwik-purple-200: #e5d7fd;
  --color-qwik-purple-300: #d1b8fa;
  --color-qwik-purple-400: #ac7ef4;
  --color-qwik-purple-500: #985eee;
  --color-qwik-purple-600: #803edf;
  --color-qwik-purple-700: #6c2cc4;
  --color-qwik-purple-800: #5d29a0;
  --color-qwik-purple-900: #4d2281;
  --color-qwik-purple-950: #310c5f;

  --color-qwik-blue-50: #f0f9ff;
  --color-qwik-blue-100: #dff3ff;
  --color-qwik-blue-200: #b9e7fe;
  --color-qwik-blue-300: #7ad6ff;
  --color-qwik-blue-400: #34c2fc;
  --color-qwik-blue-500: #19b5f6;
  --color-qwik-blue-600: #0088cb;
  --color-qwik-blue-700: #006da4;
  --color-qwik-blue-800: #045c88;
  --color-qwik-blue-900: #0a4d70;
  --color-qwik-blue-950: #07304a;

  --color-qwik-neutral-50: #f4f7f7;
  --color-qwik-neutral-100: #e2ebeb;
  --color-qwik-neutral-200: #c8d9d9;
  --color-qwik-neutral-300: #a2bebe;
  --color-qwik-neutral-400: #749c9c;
  --color-qwik-neutral-500: #598081;
  --color-qwik-neutral-600: #4c6b6e;
  --color-qwik-neutral-700: #42595c;
  --color-qwik-neutral-800: #3b4c4f;
  --color-qwik-neutral-900: #2d383a;
  --color-qwik-neutral-950: #202a2c;

  --animate-blink-caret: blink-caret 1.25s ease-out infinite;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  @keyframes blink-caret {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}
