.menu-item {
  padding: 5px 0;
  margin: 2px;
}

.menu-item:hover {
  background: lightblue;
  cursor: pointer;
}

.menu-item:active {
  background: lightyellow;
}

.menu-item[data-disabled]:hover {
  cursor: not-allowed;
  background: lightgrey;
}

.menu-item-label {
  padding: 0 10px;
}

.submenu-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chevron {
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}
[data-qds-menu-submenu][data-open] .chevron {
  transform: rotate(90deg);
}
