.pagination-root {
    display: flex;
    gap: 10px;
}

.pagination-page {
    border-width: 1px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pagination-page[data-current] {
    background-color: red;
    color: white;
    border-color: red;  /* It is applied here */
}

.pagination-page:disabled {
    cursor: default;
}

.pagination-previous {
    color: white;
    border: 2px dashed white;
    padding: 2px;
}   

.pagination-next {
    color: white;
    border: 2px dashed white;
    padding: 2px;
}   