.calendar-example-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.calendar-root {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-header-button {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  color: white;
}

.calendar-grid-day {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  color: white;
}

.calendar-grid-day[data-current] {
  border: 1px dashed white;
}

[data-qds-calendar-content] {
  color: white;
  background-color: black;
}

[data-qds-calendar-content] button {
  background-color: transparent;
}

.calendar-grid-day[data-selected] {
  border: 1px solid white;
}

.calendar-field-and-trigger {
  display: flex;
  gap: 10px;
  align-items: center;
  anchor-name: --qds-popover;
}

.calendar-field-and-trigger [data-qds-popover-trigger] {
  anchor-name: unset;
}

.calendar-icon-trigger-button {
  width: fit-content;
}
