.toast-trigger {
  border: 1px solid #19b5f6;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin: 1rem;
}

.toast-trigger:hover {
  background-color: #07304a;
}

.toast-close {
  cursor: pointer;
}
